
@{
    ViewData["Title"] = "Index";
}

<h2>Tablas proyecto SIPA</h2>
<div class="col">
    <ul class="">
        <li><a asp-area="" asp-controller="Autoservicios" asp-action="">Autoservicio</a></li>
        <li><a asp-area="" asp-controller="MetodoPagos" asp-action="">Metodo de pago</a></li>
    </ul>
</div>
