@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Bienvenidos</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nuestros servicios</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x "></i>
                </span>
                <h4 class="service-heading">Mercados online</h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                    quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fas fa-tags fa-stack-1x"></i>
                </span>
                <h4 class="service-heading">Descuentos</h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                    quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-store-alt fa-stack-1x"></i>
                </span>
                <h4 class="service-heading"><a asp-area="" asp-controller="Autoservicios" asp-action="IndexCl">Autoservicio</a></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                    quo inventore harum ex magni, dicta impedit.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Ofertas</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta1.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Super descuento</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta2.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Aniversario</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta3.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dos por uno en toda la tienda</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta4.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Descuento en articulos seleccionados</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta5.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Super sabado</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/tienda/oferta6.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Descuento en jugueteria</h4>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about">
    <div class="container">
        <div class="row align-self-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"> Ingresar</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 colum align-items-center">
                    <div id="Formulario">
                        <form id="formRegister">
                            <p>
                                <i class="fas icons fa-envelope icon"></i><br>
                                <input class="validar" type="email" placeholder="Escriba su correo correctamente" id="email">
                                <label for="email"><span class="obligatorio"></span></label>
                            </p>
                            <p>
                                <i class="fas icons fa-user-alt icon"></i><br>
                                <input class="validar" type="password" placeholder="Escriba su contraseña con minimos 6 caracteres" id="password">
                                <label for="name"><span class="obligatorio"></span></label>
                            </p>
                            <p class="boton">
                                <label for="name"><span class="obligatorio"></span></label>
                                <button type="submit" class="btn-primary" data-toggle="modal"><a asp-area="" asp-controller="Home" asp-action="indexTienda">Tablas</a></button>

                                <label for="name"><span class="obligatorio"></span></label>
                                <button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModal"><a href="#">Registrarse</a> </button>
                            </p>


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Registarse</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="Formulario">
                                                <form id="formRegiste">
                                                    <p>
                                                        <i class="fas ico fa-user-alt icon"></i><br>
                                                        <input class="validar nuevo" type="text" placeholder="Escriba su usuario con minimos 2 caracteres, maximo 6 caracteres" id="name">
                                                        <label for="name"><span class="obligatorio"></span></label>
                                                    </p>
                                                    <p>
                                                        <i class="fas ico fa-key icon"></i><br>
                                                        <input class="validar nuevo" type="password" placeholder="Escriba su contraseña son minimo 8 caracteres y debe incluir letras en mayusculas" id="password">
                                                        <label for="password"><span class="obligatorio"></span></label>
                                                    </p>
                                                    <p>
                                                        <i class="fas ico fa-envelope icon"></i><br>
                                                        <input class="validar nuevo" type="email" placeholder="Escriba su correo correctamente" id="email">
                                                        <label for="email"><span class="obligatorio"></span></label>
                                                    <p>
                                                    <p><input type="checkbox" id="aceptar">Acepto términos y condiciones</p>

                                                </form>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>

                                                <button type="button" class="btn btn-warning"><a href="indexTienda.html">Guardar cambios</a> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Contact -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contactenos</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>
                                <h4>Nombre</h4>
                            </label>
                            <input class="form-control" id="name" type="text" placeholder="Digite su usuario" required="required"
                                   data-validation-required-message="Digite su usuario.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>
                                <h4>Correo</h4>
                            </label>
                            <input class="form-control" id="email" type="email" placeholder="Digite su email" required="required"
                                   data-validation-required-message="Digite su email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>
                                <h4>Numero</h4>
                            </label>
                            <input class="form-control" id="phone" type="tel" placeholder="Digite su telefono." required="required"
                                   data-validation-required-message="Digite su telefono.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>
                                <h4>Mensaje</h4>
                            </label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Digite su mensaje" required="required"
                                      data-validation-required-message="Digite su mensaje"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

