@{
    ViewData["Title"] = "Tablas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Tablas proyecto SIPA</h2>
<div class="btn-group-vertical" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a asp-area="" asp-controller="Articulos" asp-action="" class="btn btn-primary" role="button">Articulo</a>
        <a asp-area="" asp-controller="Autoservicios" asp-action="" class="btn btn-primary" role="button">Autoservicio</a>
        <a asp-area="" asp-controller="Clientes" asp-action="" class="btn btn-primary" role="button">Cliente</a>
        <a asp-area="" asp-controller="Domicilios" asp-action="" class="btn btn-primary" role="button">Domicilio</a>
        <a asp-area="" asp-controller="Empleados" asp-action="" class="btn btn-primary" role="button">Empleado</a>
        <a asp-area="" asp-controller="MetodoPagos" asp-action="" class="btn btn-primary" role="button">Metodo de pago</a>
        <a asp-area="" asp-controller="Pedidos" asp-action="" class="btn btn-primary" role="button">Pedido</a>
        <a asp-area="" asp-controller="Proveedores" asp-action="" class="btn btn-primary" role="button">Proveedor</a>
        <a asp-area="" asp-controller="Transportes" asp-action="" class="btn btn-primary" role="button">Transporte</a>
    </div>
</div>
   


