@{
    ViewData["Title"] = "Tablas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Tablas proyecto SIPA</h2>
<div class="col">
    <ul class="">
        <li><a asp-area="" asp-controller="Articulos" asp-action="">Articulo</a></li>
        <li><a asp-area="" asp-controller="Autoservicios" asp-action="">Autoservicio</a></li>
        <li><a asp-area="" asp-controller="Clientes" asp-action="">Cliente</a></li>
        <li><a asp-area="" asp-controller="Domicilios" asp-action="">Domicilio</a></li>
        <li><a asp-area="" asp-controller="Empleados" asp-action="">Empleado</a></li>
        <li><a asp-area="" asp-controller="MetodoPagos" asp-action="">Metodo de pago</a></li>
        <li><a asp-area="" asp-controller="Pedidos" asp-action="">Pedido</a></li>
        <li><a asp-area="" asp-controller="Proveedores" asp-action="">Proveedor</a></li>
        <li><a asp-area="" asp-controller="Transportes" asp-action="">Transporte</a></li>
    </ul>
</div>
