@model IEnumerable<SIPA.Models.Autoservicio>
@{
    ViewData["Title"] = "IndexCl";
}

<h2>IndexCl</h2>
@foreach (var item in Model)
{<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <div class="media">
            <img src="http://empleoycursos.online/wp-content/uploads/2017/05/ARA-300x240.jpg" width="100" class="align-self-center mr-3" alt="...">
            <div class="media-body">

                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Direccion)</p>

            </div>
        </div>
    </div>
 </div>
        }

